<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Test.My.MySettings.QLSVConnectionString" connectionString="Data Source=ANDONGNHI;Initial Catalog=tbl_DangNhap;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
  <appSettings>
    <add key="MyConnectionString" value="Data Source=ANDONGNHI;Initial Catalog=tbl_DangNhap;Integrated Security=True"/>
  </appSettings>
  
  <userSettings>
    <Test.My.MySettings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
    </Test.My.MySettings>
  </userSettings>
</configuration>